* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.clr-conts {
    height: 122px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.container {
    min-height: 100%;
    min-width: 1366px;
    margin: 0 auto;
}

.header_cont {
    max-width: 1366px;
    min-width: 600px;
    min-height: 360px;
    padding-top: 63px;
    background-color: #f5f5f5;
}

.header_cont .logo {
    margin-top: 64px;
    margin-left: 98px;
}

.header_prod {
    position: relative;
    min-width: 100%;
    min-height: 360px;
    padding-top: 63px;
    background-color: #f5f5f5;
}

.menu_cont {
    float: right;
    margin-top: 64px;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    padding: 10px 13px;
}

.menu-link a {
    text-decoration: none;
}

.menu-link:hover {
    text-decoration: none;
    color: #212121;
    font-weight: bold;
}

.menu-link-active {
    text-decoration: none;
    font-weight: bold;
    color: #212121;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}


.header-conts {
    font-family: Montserrat;
    font-size: 62px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 72px;
    letter-spacing: normal;
    text-align: left;
    color: #262626;
    margin-top: 176px;
    margin-left: 101px;
    margin-bottom: 56px;
}

.col-md-4 {
    margin: 0 auto;
    margin-top: 71px;
}

.cont_ts {
    margin: 0 auto;
    max-width: 370px;
    max-height: 370px;
    opacity: 0.9;
    border: solid 1px #9b9b9b;
    background-color: #ffffff;
    font-family: icomoon;
    font-size: 48px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: center;
    color: #262626;
}

.cont_ts img {
    margin-top: 48px;
}

.conts_h {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: #262626;
}

.conts {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: #6c6c6c;
    margin-bottom: 63px;
}

.conts1 {
    font-weight: bold;
}

.conts2 {
    font-weight: bold;
    color: #262626;
}

.clr {
    height: 122px;
}

.menu_product {
    position: relative;
    margin-top: 71px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-align: left;
    color: #6c6c6c;
}

.menu_product img {
    min-width: 300px;
    position: absolute;
    top: 23px;
    left: 98px;
}

.promo_product {
    max-width: 1366px;
    height: 683px;
    margin: 0 auto;
}

.promo {
    position: relative;
    min-width: 683px;
    min-height: 683px;
    background-image: url(../img/promo-img-1.jpg);
    background-repeat: no-repeat;
}

.promo_p {
    position: absolute;
    top: 228px;
    left: 52px;
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #1e88e5;
    text-transform: uppercase;
}

.promo_h2 {
    position: absolute;
    top: 259px;
    left: 52px;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #212121;
    text-transform: uppercase;
}

.promo-content {
    position: absolute;
    top: 311px;
    left: 50px;
    width: 374px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
}

.button2 {
    top: 381px;
    position: absolute;
    left: 50px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-decoration: none;
    width: 212px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    letter-spacing: 3.6px;
}

.promo2 {
    position: relative;
    min-width: 683px;
    min-height: 683px;
    background-image: url(../img/promo-img.jpg);
    background-repeat: no-repeat;
}

.container {
    padding-top: 30px;
}

.container .row {
    padding-bottom: 30px;
}

.icon {
    width: 42px;
    height: 29px;
    margin-left: 50%;
    margin-top: 71px;
}

.clr-product {
    height: 140px;
}
